{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-auto col-md-3 col-xl-2 bg-light border-end shadow-sm position-sticky pt-4" style="top: 0; height: 80vh;">
            <div class="d-flex flex-column align-items-start px-3 py-2" style="height: 100% ; overflow-y: auto;">
                <ul class="nav flex-column w-100">
                    <li class="nav-item mb-2">
                        <a href="{% url 'seller:orders' %}" class="nav-link d-flex align-items-center text-dark {% if request.path == '/orders/' %}active{% endif %}">
                            <i class="bi-table fs-5 me-2"></i>
                            <span>Orders</span>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="{% url 'seller:products' %}" class="nav-link d-flex align-items-center text-dark {% if request.path == '/products/' %}active{% endif %}">
                            <i class="bi-grid fs-5 me-2"></i>
                            <span>Products</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col mt-0 pt-5">
            <div class="container">
                {% block products_list %} {% endblock %}
                {% block add_update_product %} {% endblock %}
                {% block orders_list %} {% endblock %}
                                
            </div>
        </div>
    </div>
</div>
{% endblock %}
