<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm" style="background-color: #f0f5f5;">
    <div class="container">
        <a href="/" class="navbar-brand">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'users:user-profile' %}" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'users:logout' %}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'users:login' %}" class="nav-link">Sign in</a>
                    </li>
                {% endif %}
                <li class="nav-item position-relative">
                    <a href="{% url 'cart' %}" class="nav-link">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="cart-count" class="badge badge-pill badge-danger position-absolute" style="top: -5px; right: -5px;">0</span>
                    </a>
                </li>
                <li class="nav-item position-relative">
                    <a href="#" class="nav-link">
                        <i class="fas fa-bell"></i>
                        <span id="notification-count" class="badge badge-pill badge-danger position-absolute" style="top: -5px; right: -5px;">3</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
