{% extends 'base.html' %}

{% block content %}
    <div class="chat-container">
        <div class="chat-header">
            <h1>Chit-Chat <i class="fas fa-comment"></i></h1>
        </div>
        <div class="chat-logout">
            {% if request.user.is_authenticated %}
            <div style="float: left;font-weight: bold; color: #036358;">{{ request.user.first_name|title }} </div>
            <div style="clear: both;"></div>
            {% endif %}
        </div>
        <div class="chat__item__container" id="id_chat_item_container">
            {% for message in messages %}
            <div class="chat-message {% if message.sender == request.user %}right{% else %}left{% endif %}">
                <div class="message-content">
                    <span class="message-username">{{ message.sender.first_name }}</span>
                    <span class="message-text">{{ message.message }}</span>
                    <span class="message-timestamp">{{ message.timestamp|date:"H:i" }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="chat-input-container">
            <input type="text" id="id_message_send_input" placeholder="Type your message..." />
            <button type="submit" id="id_message_send_button"><i class="fas fa-paper-plane"></i> Send</button>
        </div>
    </div>
    <script>
        const roomID = "{{ chat_room.id }}";
        const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/" + roomID + "/");

        chatSocket.onopen = function (e) {
            console.log("The connection was set up successfully!");
        };
        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened!");
        };

        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) { 
                document.querySelector("#id_message_send_button").click();
            }
        };

        document.querySelector("#id_message_send_button").onclick = function (e) {
            const messageInput = document.querySelector("#id_message_send_input").value;

            if (messageInput.trim() !== "") {
                chatSocket.send(JSON.stringify({
                    message: messageInput,
                    username: "{{ request.user.first_name }}",
                }));
                document.querySelector("#id_message_send_input").value = "";
            }
            
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
        
            const messageContainer = document.querySelector("#id_chat_item_container");
        
            const customerName = data.customer ? data.customer.charAt(0).toUpperCase() + data.customer.slice(1) : "Seller";
            console.log(customerName)
        
            const div = document.createElement("div");
            div.className = (data.customer === "{{ request.user.username }}") ? "chat-message right" : "chat-message left";
        
            div.innerHTML = `
                <div class="message-content">
                    <span class="message-username">${customerName}</span>
                    <span class="message-text">${data.message}</span>
                </div>`;
        
            messageContainer.appendChild(div);
        
            messageContainer.scrollTop = messageContainer.scrollHeight;
        };
    </script>
{% endblock %}
